*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: rgb(18, 16, 16);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
}
.img-cabeçalho{
    width: 14%;
}
.cabeçalho-titulo{
    display: inline-block;
    margin: 0 10px;
}

